body{
    font-family: 'Poppins', sans-serif;
    margin: 0px;
}

.history{
background-color: #F0FFF0;
}

.logo{
    height: 60px;
    width: 200px;
}

.container h1{
    font-weight: bold;
}

.sign-in-button{
    background-color:#21B573;
    color: white;
    border-radius: 50px;
    border: none;
    cursor: pointer;
    padding: 8px 25px;
}

.sign-in-button:hover{
    background-color: teal;
    box-shadow: 5px 5px 10px lightgray;
}

.highlighter{
    color: #21B573;
}

.container p{
    color: gray;
}

.categories{
    margin-top: 100px;
}

.cat-img{
    width: 66px;
    height: 85px;
    padding: 10px 5px;
}

.cat-1, .cat-2, .cat-3, .cat-4{
    height: 270px;
    padding: 10px 30px;
    border-radius: 10px;
    box-shadow: 5px 5px 10px lightgray;
    background-color: #F0FFF0;
    cursor: pointer;
    text-align: center;
}

.cat-1:hover{
    background-color: white;
    box-shadow: 10px 10px 15px lightgray;
}

.cat-2:hover{
    background-color: white;
    box-shadow: 10px 10px 15px lightgray;
} 

.cat-3:hover{
    background-color: white;
    box-shadow: 10px 10px 15px lightgray;
} 

.cat-4:hover{
    background-color: white;
    box-shadow: 10px 10px 15px lightgray;
}

.third-section{
    margin-top: 100px;
}
.icon{
    font-size: 15px;
    text-align: center;
    margin-top: 30px;
}
.card{
    border: none;
    border-radius: 10px;
    box-shadow: 5px 5px 10px lightgray;
    height: 480px;
    width: 370px;
}
.card img{
    height: 230px;
    width: 330px;
    padding: 15px 0px 0px 20px; 
}
.card-footer{
    background-color: white;
    border: none;
}
.fourth-section{
    margin-top: 100px;
}
.man-img{
    width: 120px;
    height: 120px;
    margin-left: 200px;
}
.pink-bg{
    background-color: #fceae8;
    border-radius: 30px;
}
.extra{
    margin-top: 100px;
}
.extra-img{
    height: 300px;
    width: 300px;
    border-radius: 20px;
}
.carousel-indicators li {
    display: inline-block;
    width: 12px;
    height: 10px;
    margin: 10px;
    text-indent: 0;
    cursor: pointer;
    border: none;
    border-radius: 10px;
    background-color: gray;
    box-shadow: inset 1px 1px 1px 1px rgba(0,0,0,0.5);    
}
.carousel-indicators .active {
    width: 50px;
    height: 10px;
    margin: 10px;
    background-image: linear-gradient(45deg,pink,#EA7773);
}
.last-part{
    background-color: #282531;
    cursor: pointer;
}
.fifth-section{
    margin-top: 100px;
    width: 100%;
}
.container h6{
    color: white;
}
.container h3{
    margin-bottom: 50px;
    font-weight: bold;
    color: #413960;
}
.list{
    color: gray;
}
.margin-top{
    margin-top: 50px;
}
footer{
    text-align: center;
    color: white;
    margin-top: 200px;
}
